---
import {frontmatter as profile} from '../content/home/profile.md';
import {frontmatter as skills} from '../content/home/skills.md';
import '../assets/styles/reset.css';
import '../assets/styles/main.scss';

type Props = {
	titleSuffix?: string;
	description?: string;
}

const { titleSuffix, description } = Astro.props;

const pageTitle = titleSuffix ? `${profile.name} | ${titleSuffix}` : profile.name
const pageDescription = description || profile.description

const languages = skills.skills.map((skill: {language: string}) => skill.language)
const keywords = [profile.name, ...profile.keywords, ...languages].join(', ')
const year = new Date().getFullYear()
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all" />
		<meta name="generator" content={Astro.generator} />
    <meta name="author" content={profile.name}>
    <meta name="keywords" content={keywords}>
		<meta name="description" content={pageDescription} />
		<link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://dariodumlijan.com" />
		<link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
		<footer>
			dariodumlijan.com &copy;&NonBreakingSpace;<span id="footer-year">{year}</span>
		</footer>
		<script is:inline>
			document.getElementById("footer-year").innerText = new Date().getFullYear();
		</script>
	</body>
</html>
